<h1>Your Recomanded movies</h1>
<table>
    <tr>
    <td><img src="{{ posters.0 }}" height="300px" width="240px"></td>
    <td><img src="{{ posters.1 }}" height="300px" width="240px"></td>
    <td><img src="{{ posters.2 }}" height="300px" width="240px"></td>
    <td><img src="{{ posters.3 }}" height="300px" width="240px"></td>
    <td><img src="{{ posters.4 }}" height="300px" width="240px"></td>
    </tr>
</table>
<style>
    td {
    background-color: black;
}
body {
    background-color: black;
}
h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
</style>
</style>